<?xml version="1.0"?>
<robot>
    <!-- Colors -->
    <gazebo reference="link_chassis">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link_front_left_wheel">
        <material>Gazebo/Black</material>
        <mu1>0</mu1>
        <mu2>0</mu2>
    </gazebo>
    <gazebo reference="link_rear_right_wheel">
        <material>Gazebo/Black</material>
        <mu1>0</mu1>
        <mu2>0</mu2>
    </gazebo>
    <gazebo reference="link_rear_left_wheel">
        <material>Gazebo/Black</material>
        <mu1>0</mu1>
        <mu2>0</mu2>
    </gazebo>
    <gazebo reference="link_front_right_wheel">
        <material>Gazebo/Black</material>
        <mu1>0</mu1>
        <mu2>0</mu2>
    </gazebo>
    <gazebo reference="link_middle_right_wheel">
        <material>Gazebo/Black</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
    </gazebo>
    <gazebo reference="link_middle_left_wheel">
        <material>Gazebo/Black</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
    </gazebo>

    <!-- Gazebo tags - Laser scan -->
    <gazebo reference="joint_laser_scan_chassis">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference="link_laser_scan">
        <material>Gazebo/DarkGrey</material>
    </gazebo> 
      
    <!-- <gazebo reference="joint_chassis_left_front_wheel">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference="joint_chassis_left_rear_wheel">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference="joint_chassis_right_front_wheel">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    <gazebo reference="joint_chassis_right_rear_wheel">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>  
     -->
    <gazebo reference="link_laser_scan">
        <sensor type="ray" name="head_hokuyo_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>20</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.20</min>
                    <max>12.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
                <topicName>/laser/scan</topicName>
                <frameName>link_chassis</frameName>
            </plugin>
        </sensor>
    </gazebo> 
 
    <gazebo reference="camera_link">
        <sensor name="camera_robot" type="camera">
            <camera>
                <pose> 0 0 0 0 0 0 </pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>30.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo> 

    <gazebo>
        <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
            <alwaysOn>true</alwaysOn>
            <updateRate>20</updateRate>
            <leftJoint>joint_chassis_left_middle_wheel</leftJoint>
            <rightJoint>joint_chassis_right_middle_wheel</rightJoint>
            <wheelSeparation>0.14</wheelSeparation>
            <wheelDiameter>0.04</wheelDiameter>
            <torque>10</torque>
            <wheelTorque>5</wheelTorque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>link_chassis</robotBaseFrame>
            <publishWheelTF>false</publishWheelTF>
            <publishWheelJointState>false</publishWheelJointState>
            <publishOdomTF>true</publishOdomTF>
            <wheelAcceleration>0</wheelAcceleration>
            <rosDebugLevel>na</rosDebugLevel>
            <odometrySource>world</odometrySource>
            <publishTf>1</publishTf>
        </plugin>
    </gazebo>
</robot>
